#mainText {

font-style: italic ;
font-weight: bold;
font-size: 10em;
line-height: 3em;
color: yellowgreen;
font-family: arial;
margin : 0 auto;

}

#presentDescription {
    font-weight: bold;
    font-size: 5em;
    color : darkslateblue;
    font-family: arial;
    margin : 0 auto;
}

/*body{*/
/*background-image: url(https://mblogthumb-phinf.pstatic.net/20140804_98/kommein3_1407139785017rg2gU_JPEG/%BB%FD%C0%CF%C3%E0%C7%CF%B8%DE%BD%C3%C1%F6.jpg?type=w2);*/
/*background-color: white;*/
/*background-repeat: no-repeat;*/
/*background-size : cover;*/
/*}*/