<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Yangthday</title>

    <!-- import css file -->
    <link href="/css/home.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div class="background__01">

        <br><br><br>

        <div id="mainText">
            <center>Happy birthday</center>
            <center style="font-size: 65%;">to "s.h Yang"</center>
            <br>
        </div>

        <center>

            <div id = "clickGift">
                click<br>↓↓↓<br>
            </div>

            <br>

            <button onclick="location.href='secondPage'" type="button" class="btm_image" id="img_btn">
                <img src="https://github.com/97Fekim/TIL/blob/master/image/gift.jpg?raw=true" width="150px" height="150px">
            </button>

        </center>

    </div>




</body>

</html>