<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Yangthday</title>

    <!-- import jQurey -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import css file -->
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>
<br><br><br>
    <div id="mainText">
        <center>Happy birthday</center>
        <center style="font-size: 80%;">to "S.H Yang"</center>
        <br>
    </div>

        <center>

            <div id = "clickGift">
                click<br>↓↓↓<br>
            </div>
<br>
        <button onclick="location.href='secondPage'" type="button" class="btm_image" id="img_btn">
        <img src="https://github.com/97Fekim/TIL/blob/master/image/gift.jpg?raw=true" width="150px" height="150px">
        </button>

        </center>

        <br><br><br><br><br><br><br>

</body>

</html>