<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>second page</title>

    <!-- import css file -->
    <link href="/css/secondPage.css" rel="stylesheet" type="text/css">

</head>

<body>


<div class="background__01">

    <br><br><br>

    <center>

        <div id="Error404">
            404
        </div>

        <div id="NotFount">
            Not Fount
        </div>

        <div id="Description">
           <br>Will be back with better service In 2023 <br>
        </div>

    </center>

</div>


</body>

</html>