<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selectBrand</title>

    <link href="/css/home.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div>

        <center>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%ED%95%A0%EB%A6%AC%EC%8A%A4.jpg?raw=true" style="width:200px;height:200px">
        </button>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%EB%B2%A0%EB%9D%BC.jpg?raw=true" style="width:200px;height:200px">
        </button>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4.png?raw=true" style="width:200px;height:200px">
        </button>
        </center>

        <center>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%ED%88%AC%EB%A0%88%EC%A5%AC%EB%A5%B4.png?raw=true" style="width:200px;height:200px">
        </button>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%ED%88%AC%EC%8D%B8.png?raw=true" style="width:200px;height:200px">
        </button>
        <button type="button" class="btm_image" style="width:200px;height:200px">
            <img src="https://github.com/97Fekim/TIL/blob/master/image/%ED%8C%8C%EB%A6%AC%EB%B0%94%EA%B2%8C%ED%8A%B8.png?raw=true" style="width:200px;height:200px">
        </button>
        </center>
    </div>

</body>
</html>